<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event, class: "button tiny radius medium-5 small-5 small-push-7 medium-push-3 columns success"%> |
<%= link_to 'Back', events_path %>
